
/*
    Espacio útil:
        El espacio útil se mantiene con los valores del width y
        height porque no se está usando padding. 
        ancho = 1280px;
        alto = 800px;

    Espacio total:
        El navegador interpreta los 10px del borde como 9.6
        ancho = 1299.2 = 1280 + (9.6 * 2);
        alto = 819.2 = 800 + (9.6 * 2);
*/

html{
    background-color: white;
}

#habitacion{
    width: 1280px;
    height: 800px;
    font-family: Verdana;
    border: 10px solid black;
    background-color: rgb(197, 238, 255);
    margin: 40px 120px;
    
    position: relative;
}

#contenedorEnLinea{
    width: 1240; /* 1280 - (20px * 2) */
    height: 370px;
    margin: 20px ;
    background-color: #a68323;
}

#contenedorEnBloque{
    width: 1240; /* 1280 - (20px * 2) */
    height: 370px;
    margin: 20px;
    background-color: #457a54;
}

.camas{
    /* 2 */
    width: 100px;
    height: 300px;

    /* 3 */
    display: inline-block;

    /* 4 */
    padding: 2px 10px;

    /* 5 */
    margin: 40px 20px;
}

.enLinea{
    background-color: #ffde85;
}

.enBloque{
    background-color: #9febb5;

}

#ventana {
    width: 46px;
    height: 300px;
    background-color: #a6f4f8;
    border: 2px solid black;

    position: absolute;
    top: 140px;
    left: -40px;

    &::after{
        content: "";
        width: 4px;
        height: 300px;
        background-color: black;
        position: absolute;
        left: 22px;
    }
    &::before{
        content: "";
        width: 46px;
        height: 4px;
        background-color: black;
        position: absolute;
        top: 140px;
    }
}


#puerta {
    width: 46px;
    height: 200px;
    border: 2px solid black;
    background-color: rgb(125, 56, 0);
    
    position: absolute;
    top: 30px;
    left: 1260px;
    &::after{
        content: "";
        width: 10px;
        height: 10px;
        border: 4px solid black;
        border-radius: 50%;
        position: absolute;
        top: 80px;
        left: 26px;
    }
}

#gruñon {
    position: absolute;
    right: 0px;
    top: 200px; /* 800 / 4*/

}