.container{
    width: 1000px;
    height: 260px;
    background-color: rgb(115, 115, 115);
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.box{
    background-color: rgb(187, 187, 187);
    border: 1px solid black;
}

#b1{
    flex-grow: 1;
}

#b2{
    flex-grow: 3;
}

#b3{
    flex-grow: 2;
}